.PokemonList {
    
}

.PokemonList-container {
    height: 100%;
}

.PokemonList-spinner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.PokemonList-unloaded {
    height: 100%;
}