.PokemonDisplay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.PokemonDisplay-back-button {
    width: auto;
    position: absolute;
    margin: 0.5em;
    padding: 0.5em 1em;
    font-weight: bold;
}

.PokemonDisplay-pokemon-img {
    max-height: 30%;
    object-fit: contain;
}